In [1]:
!date
import pandas as pd
import numpy as np
import scipy.stats
from scipy.stats import hypergeom
import sys
sys.path.append('../GOCAM_Project/dev')

import utils
import enrich

pd.options.display.max_colwidth = 100

Fri Jun  2 15:09:49 PDT 2023

Checking how many of the PI3K activators are expressed in the control condition for shRNA KD

In [56]:
setID2members = utils.csv2dict('../data/setID2members.csv')
activators = setID2members.get('sset:Activator:PI3K')
print(len(activators))

86

In [20]:
data = pd.read_csv('../Chou/shRNA_raw_mmc2.csv', header = 3)

Control columns

In [29]:
c1 = 'Found in Sample: [S51] F51: Sample, n/a, n/a, control'
c2 = 'Found in Sample: [S52] F52: Sample, n/a, n/a, control'
c3 = 'Found in Sample: [S53] F53: Sample, n/a, n/a, control'

In [34]:
activator_data = data[data.Accession.apply(lambda x: x in activators)]
activator_data[[c1,c2,c3]]

,"Found in Sample: [S51] F51: Sample, n/a, n/a, control","Found in Sample: [S52] F52: Sample, n/a, n/a, control","Found in Sample: [S53] F53: Sample, n/a, n/a, control"
281,High,High,High
469,High,High,High
1254,High,High,High
1309,High,High,High
2215,High,High,High
2612,High,High,High
2676,High,High,High
2686,High,High,High
3352,High,High,High
4203,High,High,High
4372,High,High,High
4413,Medium,High,Medium
4815,Medium,High,Not Found
5315,Not Found,Not Found,High
6100,High,Peak Found,Medium
6175,High,High,Not Found
6330,Not Found,Not Found,Not Found
6726,Peak Found,Medium,Peak Found

In [38]:
activator_data[['Abundances (Grouped): control','Abundances (Grouped): p97']]

      Abundances (Grouped): control  Abundances (Grouped): p97
281                           106.3                       93.7
469                           101.9                       98.1
1254                          123.7                       76.3
1309                          111.8                       88.2
2215                           99.5                      100.5
2612                           97.7                      102.3
2676                          103.7                       96.3
2686                           85.5                      114.5
3352                          104.8                       95.2
4203                          200.0                        NaN
4372                          200.0                        NaN
4413                           86.8                      113.2
4815                          111.6                       88.4
5315                            NaN                        NaN
6100                          162.0                       38.0
6175                            NaN                        NaN
6330                            NaN                        NaN
6726                          107.3                       92.7

In [53]:
scipy.stats.binom.cdf(4,16,.5)

0.0384063720703125

There are 16 PI3K activators that are expressed at high enough abundance to be detected in the control cell, of which 3 are downregulated. Also, if we take the 16 of them that were detected and quantified in both control and KD conditions, 12/16 of them have a decrease (not paying attention to statistical significant or the fold change... just the sign of the change). That has a probability of 0.038 of happening if there was an equal chance of up/down changes from control to P97 KD.